################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Sandbox/v15/.suo
/.vs/VSWorkspaceState.json
/Api/obj/Debug/netstandard1.6/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Api/obj/Debug/netstandard1.6/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Api/obj/Debug/netstandard1.6/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/WebApi/obj
/WebApi/bin/Debug/netcoreapp1.1
/Api/obj/Debug/netstandard1.6
/WebApi2/bin
/WebApi2/obj/Debug
/packages/Microsoft.AspNet.WebApi.WebHost.5.2.3
/packages/Microsoft.AspNet.WebPages.3.2.3
/packages/NuGet.CommandLine.4.3.0
/packages/Microsoft.AspNet.WebApi.Client.5.2.3
/packages/Microsoft.AspNet.WebApi.Core.5.2.3
/packages/Microsoft.AspNet.WebApi.5.2.3
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3
/packages
